Repository Adriangar99/storybook, changes with the owners that CODEOWNERS names for each.
All owners: @JReinhold, @yannbf, @vanessayuenn, @kasperpeulen, @ndelangen, @kylegach, @jonniebigodes, @jreinhold, @valentinpalkovic, @Integrayshaun, @IanVS, @tmeasday, @shilman, @cdedreuille

Merge pull request #26998 from scottdotjs/next
  docs/snippets/angular/angular-install.pnpm.js.mdx
  docs/snippets/react/nextjs-install.pnpm.js.mdx
  docs/snippets/react/react-vite-install.pnpm.js.mdx
  docs/snippets/react/react-webpack5-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-vite-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-webpack5-install.pnpm.js.mdx
  docs/snippets/svelte/sveltekit-install.pnpm.js.mdx
  docs/snippets/vue/vue3-vite-install.pnpm.js.mdx
  docs/snippets/vue/vue3-webpack5-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-vite-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-webpack5-install.pnpm.js.mdx
Owners: @kylegach, @jonniebigodes

Merge pull request #26488 from storybookjs/jeppe/allow-http-docs-external-links
  code/ui/blocks/src/blocks/mdx.tsx
Owners: @JReinhold, @cdedreuille

Merge pull request #27001 from storybookjs/fix-vue-snippets
  docs/get-started/vue3-webpack5.md
Owners: @kylegach, @jonniebigodes

Merge pull request #26890 from storybookjs/yann/fix-test-runner-prod
  scripts/tasks/test-runner-build.ts
Owners: @ndelangen, @kasperpeulen

Merge pull request #26898 from Tobbe/tobbe-react-19
  code/lib/react-dom-shim/src/preset.ts
Owners: @ndelangen, @valentinpalkovic, @tmeasday

Merge pull request #26860 from yuemori/fix-vite-builder-override-assetsinclude
  code/builders/builder-vite/src/assetsInclude.ts
  code/builders/builder-vite/src/vite-server.ts
Owners: @JReinhold, @valentinpalkovic, @IanVS

Write changelog for 8.0.10 [skip ci]
  CHANGELOG.md
  code/package.json
  docs/versions/latest.json
Owners: @kylegach, @jonniebigodes

Write changelog for 8.1.0-alpha.8 [skip ci]
  CHANGELOG.prerelease.md
  code/package.json
  docs/versions/next.json
Owners: @kylegach, @jonniebigodes

CODEOWNERS:

# Code Owners

# Root
.github/    @JReinhold @yannbf @vanessayuenn
.circleci/  @yannbf @kasperpeulen
.yarnrc.yml @ndelangen @JReinhold

# Docs
/docs/ @kylegach @jonniebigodes

# Scripts
/scripts/         @ndelangen @kasperpeulen
/scripts/release/ @jreinhold @ndelangen @kasperpeulen

# Addons
/code/addons/a11y/                 @ndelangen @yannbf
/code/addons/actions/              @ndelangen @yannbf
/code/addons/backgrounds/          @yannbf @ndelangen
/code/addons/controls/             @kasperpeulen @ndelangen
/code/addons/docs/                 @JReinhold @kasperpeulen
/code/addons/essentials/           @valentinpalkovic @ndelangen
/code/addons/gfm/                  @ndelangen @valentinpalkovic
/code/addons/highlight/            @yannbf @valentinpalkovic
/code/addons/interactions/         @yannbf @ndelangen
/code/addons/jest/                 @ndelangen
/code/addons/links/                @yannbf @JReinhold
/code/addons/measure/              @yannbf @valentinpalkovic
/code/addons/outline/              @yannbf @valentinpalkovic
/code/addons/storysource/          @ndelangen
/code/addons/themes/               @JReinhold @Integrayshaun
/code/addons/toolbars/             @ndelangen @JReinhold
/code/addons/viewport/             @yannbf @ndelangen

# Builder
/code/builders/builder-vite/     @JReinhold @valentinpalkovic @IanVS
/code/builders/builder-webpack5/ @ndelangen @valentinpalkovic

# Frameworks
/code/frameworks/angular/                 @valentinpalkovic @yannbf
/code/frameworks/html-vite/               @kasperpeulen @JReinhold
/code/frameworks/html-webpack5/           @kasperpeulen @JReinhold
/code/frameworks/nextjs/                  @valentinpalkovic @kasperpeulen @yannbf
/code/frameworks/react-vite/              @valentinpalkovic @kasperpeulen
/code/frameworks/react-webpack5/          @valentinpalkovic @kasperpeulen
/code/frameworks/svelte-vite/             @kasperpeulen @JReinhold
/code/frameworks/svelte-webpack5/         @kasperpeulen @JReinhold
/code/frameworks/sveltekit/               @kasperpeulen @JReinhold
/code/frameworks/vue3-vite/               @kasperpeulen @yannbf @JReinhold
/code/frameworks/vue3-webpack5/           @kasperpeulen @yannbf @JReinhold
/code/frameworks/web-components-vite/     @kasperpeulen @JReinhold
/code/frameworks/web-components-webpack5/ @kasperpeulen @JReinhold

# Lib
/code/lib/cli/            @yannbf @valentinpalkovic @ndelangen
/code/lib/cli-sb/         @yannbf @valentinpalkovic @ndelangen
/code/lib/cli-storybook/  @yannbf @valentinpalkovic @ndelangen
/code/lib/codemod/        @kasperpeulen @ndelangen
/code/lib/core-webpack/   @valentinpalkovic @ndelangen
/code/lib/csf-plugin/     @ndelangen @valentinpalkovic
/code/lib/preview/        @ndelangen @kasperpeulen
/code/lib/react-dom-shim/ @ndelangen @valentinpalkovic @tmeasday

# Deprecations
/code/deprecated/builder-manager/  @ndelangen
/code/deprecated/docs-tools/       @ndelangen
/code/deprecated/telemetry/        @ndelangen
/code/deprecated/manager-api/      @ndelangen
/code/deprecated/router/           @ndelangen
/code/deprecated/theming/          @ndelangen
/code/deprecated/instrumenter/     @ndelangen
/code/deprecated/core-server/      @ndelangen
/code/deprecated/csf-tools/        @ndelangen
/code/deprecated/preview-api/      @ndelangen
/code/deprecated/node-logger/      @ndelangen
/code/deprecated/core-events/      @ndelangen
/code/deprecated/core-common/      @ndelangen
/code/deprecated/channels/         @ndelangen
/code/deprecated/client-logger/    @ndelangen
/code/deprecated/types/            @ndelangen

# Presets
/code/presets/create-react-app/ @valentinpalkovic @ndelangen

# Renderers
/code/renderers/html/           @kasperpeulen @JReinhold
/code/renderers/react/          @valentinpalkovic @kasperpeulen
/code/renderers/server/         @shilman @valentinpalkovic
/code/renderers/svelte/         @JReinhold @kasperpeulen
/code/renderers/vue3/           @kasperpeulen @JReinhold
/code/renderers/web-components/ @kasperpeulen @JReinhold

# UI
/code/ui/.storybook/ @JReinhold @cdedreuille
/code/ui/blocks/     @JReinhold @cdedreuille
/code/ui/components/ @cdedreuille @JReinhold
/code/ui/manager/    @ndelangen @JReinhold @cdedreuille @tmeasday

# E2E
/code/e2e-tests/ @yannbf @valentinpalkovic
